<a href="https://colab.research.google.com/github/ShrinivasKherud/fraud_detection1/blob/main/EDA_Assignment_Shrinivas_Kherud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows', None)

Importing the csv files

In [3]:
app_df = pd.read_csv('application_data.csv')
app_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0.0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0.0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0.0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0.0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0.0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
pvs_df = pd.read_csv('previous_application.csv')
pvs_df.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

Rows & Coumns of both the datasets

In [5]:
print(app_df.shape)
print(pvs_df.shape)

(75700, 122)
(4196, 37)

Look at colums of Application dataset

In [10]:
app_df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

Check for null values in 'Application' data

In [9]:
app_df.isnull().sum()

SK_ID_CURR                          0
TARGET                              0
NAME_CONTRACT_TYPE                  1
CODE_GENDER                         1
FLAG_OWN_CAR                        1
FLAG_OWN_REALTY                     1
CNT_CHILDREN                        1
AMT_INCOME_TOTAL                    1
AMT_CREDIT                          1
AMT_ANNUITY                         6
AMT_GOODS_PRICE                    64
NAME_TYPE_SUITE                   304
NAME_INCOME_TYPE                    1
NAME_EDUCATION_TYPE                 1
NAME_FAMILY_STATUS                  1
NAME_HOUSING_TYPE                   1
REGION_POPULATION_RELATIVE          1
DAYS_BIRTH                          1
DAYS_EMPLOYED                       1
DAYS_REGISTRATION                   1
DAYS_ID_PUBLISH                     1
OWN_CAR_AGE                     49919
FLAG_MOBIL                          1
FLAG_EMP_PHONE                      1
FLAG_WORK_PHONE                     1
FLAG_CONT_MOBILE                    1
FLAG_PHONE                          1
FLAG_EMAIL                          1
OCCUPATION_TYPE                 23752
CNT_FAM_MEMBERS                     2
REGION_RATING_CLIENT                1
REGION_RATING_CLIENT_W_CITY         1
WEEKDAY_APPR_PROCESS_START          1
HOUR_APPR_PROCESS_START             1
REG_REGION_NOT_LIVE_REGION          1
REG_REGION_NOT_WORK_REGION          1
LIVE_REGION_NOT_WORK_REGION         1
REG_CITY_NOT_LIVE_CITY              1
REG_CITY_NOT_WORK_CITY              1
LIVE_CITY_NOT_WORK_CITY             1
ORGANIZATION_TYPE                   1
EXT_SOURCE_1                    42780
EXT_SOURCE_2                      174
EXT_SOURCE_3                    14935
APARTMENTS_AVG                  38452
BASEMENTAREA_AVG                44273
YEARS_BEGINEXPLUATATION_AVG     36947
YEARS_BUILD_AVG                 50305
COMMONAREA_AVG                  52854
ELEVATORS_AVG                   40385
ENTRANCES_AVG                   38148
FLOORSMAX_AVG                   37698
FLOORSMIN_AVG                   51303
LANDAREA_AVG                    44960
LIVINGAPARTMENTS_AVG            51731
LIVINGAREA_AVG                  38053
NONLIVINGAPARTMENTS_AVG         52500
NONLIVINGAREA_AVG               41746
APARTMENTS_MODE                 38452
BASEMENTAREA_MODE               44273
YEARS_BEGINEXPLUATATION_MODE    36947
YEARS_BUILD_MODE                50305
COMMONAREA_MODE                 52854
ELEVATORS_MODE                  40385
ENTRANCES_MODE                  38148
FLOORSMAX_MODE                  37698
FLOORSMIN_MODE                  51303
LANDAREA_MODE                   44960
LIVINGAPARTMENTS_MODE           51731
LIVINGAREA_MODE                 38053
NONLIVINGAPARTMENTS_MODE        52500
NONLIVINGAREA_MODE              41746
APARTMENTS_MEDI                 38452
BASEMENTAREA_MEDI               44273
YEARS_BEGINEXPLUATATION_MEDI    36947
YEARS_BUILD_MEDI                50305
COMMONAREA_MEDI                 52854
ELEVATORS_MEDI                  40385
ENTRANCES_MEDI                  38148
FLOORSMAX_MEDI                  37698
FLOORSMIN_MEDI                  51303
LANDAREA_MEDI                   44960
LIVINGAPARTMENTS_MEDI           51731
LIVINGAREA_MEDI                 38053
NONLIVINGAPARTMENTS_MEDI        52500
NONLIVINGAREA_MEDI              41746
FONDKAPREMONT_MODE              51668
HOUSETYPE_MODE                  38007
TOTALAREA_MODE                  36582
WALLSMATERIAL_MODE              38550
EMERGENCYSTATE_MODE             35917
OBS_30_CNT_SOCIAL_CIRCLE          248
DEF_30_CNT_SOCIAL_CIRCLE          248
OBS_60_CNT_SOCIAL_CIRCLE          248
DEF_60_CNT_SOCIAL_CIRCLE          248
DAYS_LAST_PHONE_CHANGE              2
FLAG_DOCUMENT_2                     1
FLAG_DOCUMENT_3                     1
FLAG_DOCUMENT_4                     1
FLAG_DOCUMENT_5                     1
FLAG_DOCUMENT_6                     1
FLAG_DOCUMENT_7                     1
FLAG_DOCUMENT_8                     1
FLAG_DOCUMENT_9                     1
FLAG_DOCUMENT_10                    1
FLAG_DOCUMENT_11                    1
FLAG_DOCUMENT_12                    1
FLAG_DOCUMENT_13                    1
FLAG_DOCUMENT_14                    1
FLAG_DOCUMENT_15                    1
FLAG_DOCUMENT_16                    1
FLAG_DOCUMENT_17                    1
FLAG_DOCUMENT_18                    1
FLAG_DOCUMENT_19                    1
FLAG_DOCUMENT_20                    1
FLAG_DOCUMENT_21                    1
AMT_REQ_CREDIT_BUREAU_HOUR      10114
AMT_REQ_CREDIT_BUREAU_DAY       10114
AMT_REQ_CREDIT_BUREAU_WEEK      10114
AMT_REQ_CREDIT_BUREAU_MON       10114
AMT_REQ_CREDIT_BUREAU_QRT       10114
AMT_REQ_CREDIT_BUREAU_YEAR      10114
dtype: int64

null values in percentages

In [12]:
100 * round(app_df.isnull().sum()/len(app_df),2)

SK_ID_CURR                       0.0
TARGET                           0.0
NAME_CONTRACT_TYPE               0.0
CODE_GENDER                      0.0
FLAG_OWN_CAR                     0.0
FLAG_OWN_REALTY                  0.0
CNT_CHILDREN                     0.0
AMT_INCOME_TOTAL                 0.0
AMT_CREDIT                       0.0
AMT_ANNUITY                      0.0
AMT_GOODS_PRICE                  0.0
NAME_TYPE_SUITE                  0.0
NAME_INCOME_TYPE                 0.0
NAME_EDUCATION_TYPE              0.0
NAME_FAMILY_STATUS               0.0
NAME_HOUSING_TYPE                0.0
REGION_POPULATION_RELATIVE       0.0
DAYS_BIRTH                       0.0
DAYS_EMPLOYED                    0.0
DAYS_REGISTRATION                0.0
DAYS_ID_PUBLISH                  0.0
OWN_CAR_AGE                     66.0
FLAG_MOBIL                       0.0
FLAG_EMP_PHONE                   0.0
FLAG_WORK_PHONE                  0.0
FLAG_CONT_MOBILE                 0.0
FLAG_PHONE                       0.0
FLAG_EMAIL                       0.0
OCCUPATION_TYPE                 31.0
CNT_FAM_MEMBERS                  0.0
REGION_RATING_CLIENT             0.0
REGION_RATING_CLIENT_W_CITY      0.0
WEEKDAY_APPR_PROCESS_START       0.0
HOUR_APPR_PROCESS_START          0.0
REG_REGION_NOT_LIVE_REGION       0.0
REG_REGION_NOT_WORK_REGION       0.0
LIVE_REGION_NOT_WORK_REGION      0.0
REG_CITY_NOT_LIVE_CITY           0.0
REG_CITY_NOT_WORK_CITY           0.0
LIVE_CITY_NOT_WORK_CITY          0.0
ORGANIZATION_TYPE                0.0
EXT_SOURCE_1                    57.0
EXT_SOURCE_2                     0.0
EXT_SOURCE_3                    20.0
APARTMENTS_AVG                  51.0
BASEMENTAREA_AVG                58.0
YEARS_BEGINEXPLUATATION_AVG     49.0
YEARS_BUILD_AVG                 66.0
COMMONAREA_AVG                  70.0
ELEVATORS_AVG                   53.0
ENTRANCES_AVG                   50.0
FLOORSMAX_AVG                   50.0
FLOORSMIN_AVG                   68.0
LANDAREA_AVG                    59.0
LIVINGAPARTMENTS_AVG            68.0
LIVINGAREA_AVG                  50.0
NONLIVINGAPARTMENTS_AVG         69.0
NONLIVINGAREA_AVG               55.0
APARTMENTS_MODE                 51.0
BASEMENTAREA_MODE               58.0
YEARS_BEGINEXPLUATATION_MODE    49.0
YEARS_BUILD_MODE                66.0
COMMONAREA_MODE                 70.0
ELEVATORS_MODE                  53.0
ENTRANCES_MODE                  50.0
FLOORSMAX_MODE                  50.0
FLOORSMIN_MODE                  68.0
LANDAREA_MODE                   59.0
LIVINGAPARTMENTS_MODE           68.0
LIVINGAREA_MODE                 50.0
NONLIVINGAPARTMENTS_MODE        69.0
NONLIVINGAREA_MODE              55.0
APARTMENTS_MEDI                 51.0
BASEMENTAREA_MEDI               58.0
YEARS_BEGINEXPLUATATION_MEDI    49.0
YEARS_BUILD_MEDI                66.0
COMMONAREA_MEDI                 70.0
ELEVATORS_MEDI                  53.0
ENTRANCES_MEDI                  50.0
FLOORSMAX_MEDI                  50.0
FLOORSMIN_MEDI                  68.0
LANDAREA_MEDI                   59.0
LIVINGAPARTMENTS_MEDI           68.0
LIVINGAREA_MEDI                 50.0
NONLIVINGAPARTMENTS_MEDI        69.0
NONLIVINGAREA_MEDI              55.0
FONDKAPREMONT_MODE              68.0
HOUSETYPE_MODE                  50.0
TOTALAREA_MODE                  48.0
WALLSMATERIAL_MODE              51.0
EMERGENCYSTATE_MODE             47.0
OBS_30_CNT_SOCIAL_CIRCLE         0.0
DEF_30_CNT_SOCIAL_CIRCLE         0.0
OBS_60_CNT_SOCIAL_CIRCLE         0.0
DEF_60_CNT_SOCIAL_CIRCLE         0.0
DAYS_LAST_PHONE_CHANGE           0.0
FLAG_DOCUMENT_2                  0.0
FLAG_DOCUMENT_3                  0.0
FLAG_DOCUMENT_4                  0.0
FLAG_DOCUMENT_5                  0.0
FLAG_DOCUMENT_6                  0.0
FLAG_DOCUMENT_7                  0.0
FLAG_DOCUMENT_8                  0.0
FLAG_DOCUMENT_9                  0.0
FLAG_DOCUMENT_10                 0.0
FLAG_DOCUMENT_11                 0.0
FLAG_DOCUMENT_12                 0.0
FLAG_DOCUMENT_13                 0.0
FLAG_DOCUMENT_14                 0.0
FLAG_DOCUMENT_15                 0.0
FLAG_DOCUMENT_16                 0.0
FLAG_DOCUMENT_17                 0.0
FLAG_DOCUMENT_18                 0.0
FLAG_DOCUMENT_19                 0.0
FLAG_DOCUMENT_20                 0.0
FLAG_DOCUMENT_21                 0.0
AMT_REQ_CREDIT_BUREAU_HOUR      13.0
AMT_REQ_CREDIT_BUREAU_DAY       13.0
AMT_REQ_CREDIT_BUREAU_WEEK      13.0
AMT_REQ_CREDIT_BUREAU_MON       13.0
AMT_REQ_CREDIT_BUREAU_QRT       13.0
AMT_REQ_CREDIT_BUREAU_YEAR      13.0
dtype: float64

Removing Null values columns that are more than 30%

In [13]:
app_df = app_df.loc[:,app_df.isnull().mean()<=.3]

after removing columns chaecking for the length of the dataset :-

In [16]:
print(app_df.shape)
len(app_df.columns)

(75700, 72)

72

# Previous Application dataset

Checking for null values in the second dataset

In [17]:
pvs_df.isnull().sum()

SK_ID_PREV                        0
SK_ID_CURR                        0
NAME_CONTRACT_TYPE                0
AMT_ANNUITY                     802
AMT_APPLICATION                   0
AMT_CREDIT                        0
AMT_DOWN_PAYMENT               1875
AMT_GOODS_PRICE                 818
WEEKDAY_APPR_PROCESS_START        0
HOUR_APPR_PROCESS_START           0
FLAG_LAST_APPL_PER_CONTRACT       0
NFLAG_LAST_APPL_IN_DAY            0
RATE_DOWN_PAYMENT              1875
RATE_INTEREST_PRIMARY          4178
RATE_INTEREST_PRIVILEGED       4178
NAME_CASH_LOAN_PURPOSE            0
NAME_CONTRACT_STATUS              0
DAYS_DECISION                     0
NAME_PAYMENT_TYPE                 0
CODE_REJECT_REASON                0
NAME_TYPE_SUITE                2008
NAME_CLIENT_TYPE                  0
NAME_GOODS_CATEGORY               0
NAME_PORTFOLIO                    0
NAME_PRODUCT_TYPE                 0
CHANNEL_TYPE                      0
SELLERPLACE_AREA                  0
NAME_SELLER_INDUSTRY              0
CNT_PAYMENT                     802
NAME_YIELD_GROUP                  0
PRODUCT_COMBINATION               0
DAYS_FIRST_DRAWING             1523
DAYS_FIRST_DUE                 1523
DAYS_LAST_DUE_1ST_VERSION      1523
DAYS_LAST_DUE                  1523
DAYS_TERMINATION               1523
NFLAG_INSURED_ON_APPROVAL      1523
dtype: int64

null values in percentages

In [18]:
100 * round(pvs_df.isnull().sum()/len(pvs_df),2)

SK_ID_PREV                       0.0
SK_ID_CURR                       0.0
NAME_CONTRACT_TYPE               0.0
AMT_ANNUITY                     19.0
AMT_APPLICATION                  0.0
AMT_CREDIT                       0.0
AMT_DOWN_PAYMENT                45.0
AMT_GOODS_PRICE                 19.0
WEEKDAY_APPR_PROCESS_START       0.0
HOUR_APPR_PROCESS_START          0.0
FLAG_LAST_APPL_PER_CONTRACT      0.0
NFLAG_LAST_APPL_IN_DAY           0.0
RATE_DOWN_PAYMENT               45.0
RATE_INTEREST_PRIMARY          100.0
RATE_INTEREST_PRIVILEGED       100.0
NAME_CASH_LOAN_PURPOSE           0.0
NAME_CONTRACT_STATUS             0.0
DAYS_DECISION                    0.0
NAME_PAYMENT_TYPE                0.0
CODE_REJECT_REASON               0.0
NAME_TYPE_SUITE                 48.0
NAME_CLIENT_TYPE                 0.0
NAME_GOODS_CATEGORY              0.0
NAME_PORTFOLIO                   0.0
NAME_PRODUCT_TYPE                0.0
CHANNEL_TYPE                     0.0
SELLERPLACE_AREA                 0.0
NAME_SELLER_INDUSTRY             0.0
CNT_PAYMENT                     19.0
NAME_YIELD_GROUP                 0.0
PRODUCT_COMBINATION              0.0
DAYS_FIRST_DRAWING              36.0
DAYS_FIRST_DUE                  36.0
DAYS_LAST_DUE_1ST_VERSION       36.0
DAYS_LAST_DUE                   36.0
DAYS_TERMINATION                36.0
NFLAG_INSURED_ON_APPROVAL       36.0
dtype: float64

Removing null values columns that are more than 40%

In [22]:
pvs_df = pvs_df.loc[:, pvs_df.isnull().mean() <= .36]

Checking columns of the 'previous application' after removing null values

In [23]:
print(pvs_df.shape)
len(pvs_df.columns)

(4196, 26)

26

In [24]:
100 * round(pvs_df.isnull().sum()/len(pvs_df),2)

SK_ID_PREV                      0.0
SK_ID_CURR                      0.0
NAME_CONTRACT_TYPE              0.0
AMT_ANNUITY                    19.0
AMT_APPLICATION                 0.0
AMT_CREDIT                      0.0
AMT_GOODS_PRICE                19.0
WEEKDAY_APPR_PROCESS_START      0.0
HOUR_APPR_PROCESS_START         0.0
FLAG_LAST_APPL_PER_CONTRACT     0.0
NFLAG_LAST_APPL_IN_DAY          0.0
NAME_CASH_LOAN_PURPOSE          0.0
NAME_CONTRACT_STATUS            0.0
DAYS_DECISION                   0.0
NAME_PAYMENT_TYPE               0.0
CODE_REJECT_REASON              0.0
NAME_CLIENT_TYPE                0.0
NAME_GOODS_CATEGORY             0.0
NAME_PORTFOLIO                  0.0
NAME_PRODUCT_TYPE               0.0
CHANNEL_TYPE                    0.0
SELLERPLACE_AREA                0.0
NAME_SELLER_INDUSTRY            0.0
CNT_PAYMENT                    19.0
NAME_YIELD_GROUP                0.0
PRODUCT_COMBINATION             0.0
dtype: float64

# Application dataset

Imputing missing values

In [25]:
app_df.isnull().sum()

SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 1
CODE_GENDER                        1
FLAG_OWN_CAR                       1
FLAG_OWN_REALTY                    1
CNT_CHILDREN                       1
AMT_INCOME_TOTAL                   1
AMT_CREDIT                         1
AMT_ANNUITY                        6
AMT_GOODS_PRICE                   64
NAME_TYPE_SUITE                  304
NAME_INCOME_TYPE                   1
NAME_EDUCATION_TYPE                1
NAME_FAMILY_STATUS                 1
NAME_HOUSING_TYPE                  1
REGION_POPULATION_RELATIVE         1
DAYS_BIRTH                         1
DAYS_EMPLOYED                      1
DAYS_REGISTRATION                  1
DAYS_ID_PUBLISH                    1
FLAG_MOBIL                         1
FLAG_EMP_PHONE                     1
FLAG_WORK_PHONE                    1
FLAG_CONT_MOBILE                   1
FLAG_PHONE                         1
FLAG_EMAIL                         1
CNT_FAM_MEMBERS                    2
REGION_RATING_CLIENT               1
REGION_RATING_CLIENT_W_CITY        1
WEEKDAY_APPR_PROCESS_START         1
HOUR_APPR_PROCESS_START            1
REG_REGION_NOT_LIVE_REGION         1
REG_REGION_NOT_WORK_REGION         1
LIVE_REGION_NOT_WORK_REGION        1
REG_CITY_NOT_LIVE_CITY             1
REG_CITY_NOT_WORK_CITY             1
LIVE_CITY_NOT_WORK_CITY            1
ORGANIZATION_TYPE                  1
EXT_SOURCE_2                     174
EXT_SOURCE_3                   14935
OBS_30_CNT_SOCIAL_CIRCLE         248
DEF_30_CNT_SOCIAL_CIRCLE         248
OBS_60_CNT_SOCIAL_CIRCLE         248
DEF_60_CNT_SOCIAL_CIRCLE         248
DAYS_LAST_PHONE_CHANGE             2
FLAG_DOCUMENT_2                    1
FLAG_DOCUMENT_3                    1
FLAG_DOCUMENT_4                    1
FLAG_DOCUMENT_5                    1
FLAG_DOCUMENT_6                    1
FLAG_DOCUMENT_7                    1
FLAG_DOCUMENT_8                    1
FLAG_DOCUMENT_9                    1
FLAG_DOCUMENT_10                   1
FLAG_DOCUMENT_11                   1
FLAG_DOCUMENT_12                   1
FLAG_DOCUMENT_13                   1
FLAG_DOCUMENT_14                   1
FLAG_DOCUMENT_15                   1
FLAG_DOCUMENT_16                   1
FLAG_DOCUMENT_17                   1
FLAG_DOCUMENT_18                   1
FLAG_DOCUMENT_19                   1
FLAG_DOCUMENT_20                   1
FLAG_DOCUMENT_21                   1
AMT_REQ_CREDIT_BUREAU_HOUR     10114
AMT_REQ_CREDIT_BUREAU_DAY      10114
AMT_REQ_CREDIT_BUREAU_WEEK     10114
AMT_REQ_CREDIT_BUREAU_MON      10114
AMT_REQ_CREDIT_BUREAU_QRT      10114
AMT_REQ_CREDIT_BUREAU_YEAR     10114
dtype: int64

Imputing missing in 'Name type suite' column

In [26]:
app_df['NAME_TYPE_SUITE'].value_counts()

Unaccompanied      61206
Family              9886
Spouse, partner     2775
Children             829
Other_B              433
Other_A              210
Group of people       57
Name: NAME_TYPE_SUITE, dtype: int64

Replace the values of null by the most common value i.e by mode as it is categorical

In [27]:
app_df['NAME_TYPE_SUITE'].mode()

0    Unaccompanied
Name: NAME_TYPE_SUITE, dtype: object

In [28]:
app_df['NAME_TYPE_SUITE'].fillna(value = 'Unaccompanied', inplace = True)

Check with number of values after filling NaN

In [31]:
app_df['NAME_TYPE_SUITE'].isnull().sum()

0

In [32]:
app_df['NAME_TYPE_SUITE'].value_counts()

Unaccompanied      61510
Family              9886
Spouse, partner     2775
Children             829
Other_B              433
Other_A              210
Group of people       57
Name: NAME_TYPE_SUITE, dtype: int64